<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangman</title>
    <link rel="stylesheet" href="/master.css">
  </head>
  <body>
    <header>
    <h1>Welcome to your game of Hangman</h1>
    <p>The rules are easy! You have to guess the word by imputting one letter at a time. You only have {{#turnCount}}{{.}}{{/turnCount}}
   lives, use em up and you lose. Good Luck.</p>
   <div class="errors">
        {{error}}
      </div>
    </header>
    <div id="wordContainer">
            {{#blankArray}}
            <h2 id="word">{{.}}</h2>
            {{/blankArray}}
          </div>
          <form action="/playerGuess" method="post" id="submit">
            <input type="text" placeholder="Enter a letter here" value="" name="letter">
            <button>I want to guess this letter</button>
<div class="usedLetters">
  <h3>Letters guessed: </h3>
  {{#guessedLetters}}
  {{.}}
  {{/guessedLetters}}
</div>

  </body>
</html>
