<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangman</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <header>
    <h1>Welcome to your game of Hangman</h1>
    <p>The rules are easy! You have to guess the word by imputting one letter at a time. You only have 8 lives, use em up and you lose. Good Luck.</p>
    </header>
    <div id="wordContainer">
            {{#blankArray}}
            <h2 id="word">{{.}}</h2>
            {{/blankArray}}
          </div><div id="lives"><h1>LIVES LEFT: </h1>{{#turnCount}}{{.}}{{/turnCount}}</div>
          <form action="/playerGuess" method="post">
            <input type="text" placeholder="Enter a letter here" value="" name="letter">
            <button>I want to guess this letter</button>
<div class="usedLetters">
  {{#guessedLetters}}
  {{.}}
  {{/guessedLetters}}
</div>

  </body>
</html>
