<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lost</title>
  </head>
  <body>
    <h1>You lost</h1>
    <h1>{{#theWord}}</h1>
  <form class="newGame" action="/playAgain" method="post">
    <button> click here for a new game</button>
  </form>
  </body>
</html>
